body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                      url("bg3.jpg");
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(2, 63, 22, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    width: 450px;
    height: 480px;
}

input {
    border: none;
    border-radius: 3px;
    height: 25px;
    margin-top: 10px;
    width: 230px;
}

.logo {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 50px;
    margin-top: -50px;
}

label {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.erro {
    margin-top: 20px;
    margin-bottom: -15px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(45, 241, 55);
    font-size: 17px;
}

button {
    border: none;
    border-radius: 3px;
    font-size: 20px;
    height: 30px;
    background-color: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: black 3px 3px 3px;
    margin-top: 10px;
    margin-bottom: -5px;
}

button:hover {
    font-size: 22px;
}

button:active {
    color: green;
}
