body {
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(1, 56, 19))
}

.icon {
  color: darkblue;
  font-size: 40px;
  background-color: none;
  text-align: center;
  margin-right: 10px;
}

.logout {
  text-decoration: none;
  color: rgb(54, 54, 255);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.ola {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: -10px;
  margin-top: 5px;
}

.logo {
  display: flex;
  margin-top: -170px;
}

.formulario {
    display: flex;
    justify-content: center;
}

.no-canto {
    position: absolute;
    top: 35px;
    right: 30px;
    transition: all 0.5s ease;
}

.modelo-escolha {
  height: 40px;
  max-width: 180px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  background-color: rgb(42, 38, 252);
  color: rgb(255, 255, 255);
}

.invisivel {
    display: none;
}

.perguntas {
  flex-direction: column; 
  gap: 15px;              
  max-width: 450px;       
  margin: 20px auto;
}

.perguntas select {
  width: 100%;            
  box-sizing: border-box;
  margin-top: 10px;
}

select {
  width: 250px;          
  padding: 8px 12px;    
  font-size: 16px;       
  font-family: 'Arial', sans-serif; 
  color: #333;           
  background-color: #f5f5f5;  
  border: 1px solid #ccc;     
  border-radius: 6px;         
  appearance: none;           
  -webkit-appearance: none;   
  -moz-appearance: none;      
  cursor: pointer;            
  transition: border-color 0.3s ease;
  padding: 8px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


select:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

.enviar-form {
    width: 120px;
    margin-left: auto;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    box-shadow: black 5px 5px 5px;
    padding: 8px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(42, 38, 252);
    color: rgb(255, 255, 255);
    transition: box-shadow 0.2s;
}

.enviar-form:active {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
  transition: box-shadow 0.2s, transform 0.2s;
}