<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avalie seu iPhone</title>
    <link rel="stylesheet" href="../static/style valor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="icon"><i class="fa-solid fa-user"></i>
        <p class="ola">Olá, {{session.get('nome_completo') }}!</p>
        <a class="logout" href="/logout">SAIR</a>
        <div class="logo">   
        <img src="../static/images-removebg-preview.png" height="200px" width="200px" alt="logo oba">
        </div>
    </div>
    <div class="formulario">
        <form>
            <select class="modelo-escolha" name="modelo" required="required">
                <option value="">Modelo</option>
                <option value="iphone 11">iPhone 11</option>
                <option value="iPhone 11 Pro">iPhone 11 Pro</option>
                <option value="iPhone 11 Pro Max">iPhone 11 Pro Max</option>
                <option value="iPhone 12">iPhone 12</option>
                <option value="iPhone 12 Mini">iPhone 12 Mini</option>
                <option value="iPhone 12 Pro">iPhone 12 Pro</option>
                <option value="iPhone 12 Pro Max">iPhone 12 Pro Max</option>
                <option value="iPhone 13">iPhone 13</option>
                <option value="iPhone 13 Mini">iPhone 13 Mini</option>
                <option value="iPhone 13 Pro">iPhone 13 Pro</option>
                <option value="iPhone 13 Pro Max">iPhone 13 Pro Max</option>
                <option value="iPhone 14">iPhone 14</option>
                <option value="iPhone 14 Plus">iPhone 14 Plus</option>
                <option value="iPhone 14 Pro">iPhone 14 Pro</option>
                <option value="iPhone 14 Pro Max">iPhone 14 Pro Max</option>
                <option value="iPhone 15">iPhone 15</option>
                <option value="iPhone 15 Plus">iPhone 15 Plus</option>
                <option value="iPhone 15 Pro">iPhone 15 Pro</option>
                <option value="iPhone 15 Pro Max">iPhone 15 Pro Max</option>
                <option value="iPhone 16e">iPhone 16e</option>
                <option value="iPhone 16">iPhone 16</option>
                <option value="iPhone 16 Pro">iPhone 16 Pro</option>
                <option value="iPhone 16 Pro Max">iPhone 16 Pro Max</option>
            </select>
        </form>
    </div>
    <div class="perguntas invisivel">
        <form>
            <select class="tela" name="pergunta-tela" required="required">
                <option value="">A tela tem alguma marca de uso ou trincado?</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
            <select class="telaRuim" name="pergunta-tela-ruim" required="required">
                <option value="">A tela está funcionando normalmente?</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
             <select class="bateria" name="pergunta-bateria" required="required">
                <option value="">A saude da bateria está acima de 85%?</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
             <select class="face-id" name="pergunta-face-id" required="required">
                <option value="">O reconhecimento facial (Face-ID) está funcionando?</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
             <select class="tampa" name="pergunta-tampa" required="required">
                <option value="">A tampa traseira está quebrada?</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
             <select class="camera-traseira" name="pergunta-camera-traseira" required="required">
                <option value="">A Camera traseira está funcionando normalmente?</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
             <select class="camera-frontal" name="pergunta-camera-frontal" required="required">
                <option value="">A Camera frontal esta funcionando normalmente?</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
            <select class="som" name="pergunta-som" required="required">
                <option value="">O som do aparelho esta funcionando normalmente?</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
            <select class="carregar" name="pergunta-carregar" required="required">
                <option value="">O Aparelho esta carregando normalmente?</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
        </form>
        <button class="enviar-form">Calcular valor</button>
    </div>
    <script src="../static/script valor.js"></script>
</body>
</html>